body {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
    position: relative;
}


.login-container {
    width: 450px;
    background: #0a0a0a;
    border: 1px solid #222;
    border-radius: 25px;
    padding: 40px;
    color: white;
    box-shadow: 0 0 20px rgba(255,140,0,0.1);
}


.logo {
    width: 65px;
    height: 65px;
    border-radius: 15px;
    background: #000000;
    border: 1px solid #ff7a00;
    margin: 0 auto 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    display: block;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.orange-line {
    width: 70px;
    height: 3px;
    background: #ff7a00;
    border-radius: 10px;
    margin: 10px auto 30px;
}

.subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 40px;
}


label {
    display: block;
    margin-bottom: 10px;
    color: #999;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 16px;
    background: #050505;
    border: 1px solid #222;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    margin-bottom: 2px;
}

input:focus {
    outline: none;
    border-color: #ff7a00;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.login-btn {
    width: 100%;
    padding: 16px;
    background: #ff7a00;
    border: none;
    border-radius: 12px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover { opacity: 0.9; }


.link {
    color: #ff7a00;
}


.separator {
    display: flex;
    align-items: center;
    color: #555;
    margin: 35px 0;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #222;
}

.separator span { margin: 0 15px; }


.register {
    text-align: center;
    margin-top: 30px;
    color: #777;
}


.error {
    color: #ff4d4d;
    text-align: center;
    margin-bottom: 20px;
}


.brand-header {
	display: inline-block;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ff7a00;
}

.brand-header:hover {
    opacity: 0.85;
}

/* RESPONSIVE */

@media (max-width: 600px) {

    body {
        padding-top: 40px;
    }

    .login-container {
        width: 95%;
        padding: 25px;
    }

    .logo {
        width: 55px;
        height: 55px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .brand-header {
        font-size: 1.6rem;
    }

    .subtitle {
        margin-bottom: 30px;
        font-size: 13px;
    }

    input[type="email"],
    input[type="password"] {
        padding: 14px;
        margin-bottom: 20px;
    }

    .login-btn {
        font-size: 17px;
        padding: 14px;
    }

    .separator {
        margin: 25px 0;
    }
}

.login-field.input-invalid {
    border: 1px solid #ff4d4d;
}

